body {
    margin: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../img/deco1.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 3em;
}

.header h1 {
    margin: 0px;
    font-weight: 400;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
    border: solid 1px #ddd;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-weight: 900;
}

.footer2 {
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: 600;
}