body {
    margin: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: #ccf5c5;
}
h1 {
    color: green;
}
.header {
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../img/deco1.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 3em;
}

.header h1 {
    margin: 0px;
    font-weight: 400;
}

.products {
    width: 80%;
    margin: auto;
}

.sub-products{
    display: flex;
}
.img{
    height: 500px;
    width: 350px;
}
img{
    width: inherit;
}




.footer {
    height: 3em;
    line-height: 3em;
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-weight: 900;
}

.footer2 {
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: 600;
}